<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Accueil</title>
	<link rel="stylesheet" href="./css/style.css">
</head>

<div>
	<div th:replace="~{fragments/fragment-entete::entete}"></div>
	<h1>Liste des enchères</h1>
	<form th:action="@{/accueil}" method="post" class="cases">
		<div class="left">
			<h3>Filtrer les enchères :</h3>
		</div>
		<div class="aform-group-half">
			<div class="aform-group">
				<div class="cases" 	th:data-ventes-checked="${ventesChecked}" th:data-achats-checked="${achatsChecked}">

					<input type="radio" id="achats" name="choix" th:checked="${enchOuv == true || enchCours == true || enchRemp == true}" onchange="toggleCheckboxes(true)" />
					<label for="achats">Mes achats</label>
					<input type="checkbox" class="ouv" th:disabled="${venCours == true || venPrep == true || venTerm == true}" id="enchOuv" name="enchOuv" th:checked="${enchOuv}" />
					<label for="enchOuv">Enchères ouvertes</label>
					<input type="checkbox" class="ouv" th:disabled="${venCours == true || venPrep == true || venTerm == true}" id="enchCours" name="enchCours" th:checked="${enchCours}" />
					<label for="enchCours">Mes Enchères en Cours</label>
					<input type="checkbox" class="ouv" th:disabled="${venCours == true || venPrep == true || venTerm == true}" id="enchRemp" name="enchRemp" th:checked="${enchRemp}" />
					<label for="enchRemp">Mes Enchères Remportées</label>

				</div>
				<div class="cases" 	th:data-ventes-checked="${ventesChecked}" th:data-achats-checked="${achatsChecked}">
					<input type="radio" id="ventes" name="choix" th:checked="${venCours == true || venPrep == true || venTerm == true}" onchange="toggleCheckboxes(false)" />
					<label for="ventes">Mes ventes</label>
					<input type="checkbox" class="fer" th:disabled="${enchOuv == true || enchCours == true || enchRemp == true}" id="venCours" name="venCours" th:checked="${venCours}" />
					<label for="venCours">Mes Ventes en Cours</label>
					<input type="checkbox" class="fer" th:disabled="${enchOuv == true || enchCours == true || enchRemp == true}" id="venPrep" name="venPrep" th:checked="${venPrep}" />
					<label for="VenPrep">Ventes non Débutées</label>
					<input type="checkbox" class="fer" th:disabled="${enchOuv == true || enchCours == true || enchRemp == true}" id="venTerm" name="venTerm" th:checked="${venTerm}" />
					<label for="venTerm">Ventes Terminées</label>
				</div>
				<script th:inline="javascript">
					function toggleCheckboxes(enable) {
						document.querySelectorAll('.ouv').forEach(checkbox => {
							checkbox.disabled = !enable;
						});
						document.querySelectorAll('.fer').forEach(checkbox => {
							checkbox.disabled = enable;
						});
						
					}
					window.onload = function() {
						
						const casesDiv = document.querySelector('.cases');
						   const ventesChecked = casesDiv.dataset.ventesChecked === 'true';
						   const achatsChecked = casesDiv.dataset.achatsChecked === 'true';
						       
					    if (ventesChecked) {
					        toggleCheckboxes(false);
					    } else if (achatsChecked) {
					        toggleCheckboxes(true);
					    }
					}
				</script>
			</div>

			<div class="cases">
				<div class=aform-group>
					<ul>

						<label for="search">Rechercher :</label> <input type="search" id="search" name="search"
							placeholder="Entrez votre recherche">
					</ul>
					<ul>
						<label for="filtreCategorie">Catégorie :</label>
						<select name="idCategorie" id="filtreCategorie">
							<option value="-1">Toutes les catégories</option>
							<option th:each="c : ${listeCategories}" th:value="${c.noCategorie}" th:text="${c.libelle}">
							</option>
						</select>
					</ul>
				</div>
				<button type="submit">Valider</button>


			</div>
		</div>
	</form>

	<div class="auctions-grid">
		<div th:each="a : ${listeArticles}" class="auction-card">
			<div class="card-link">
				<a th:href="@{/encheresDetails(noArticle=${a.noArticle})}">
					<div class="card-content">
						<div class="auction-title">
							<span id="card-title" th:text="${a.nomArticle}">
						</div>
						<div class="auction-details">
							<div class="bid-amount"
								th:if="${a.listeEncheres!=null and not #lists.isEmpty(a.listeEncheres)}">
								<span class="label">Meilleure Proposition :</span>
								<span th:text="${a.listeEncheres[0].montantEnchere}+ ' pts'">
							</div>
							<div class="bid-amount"
								th:unless="${a.listeEncheres!=null and not #lists.isEmpty(a.listeEncheres)}">
								<span class="label">Mise à Prix :</span>
								<span th:text="${a.miseAPrix}+' pts'">
							</div>
							<div class="bid-date"
								th:if="${a.listeEncheres!=null and not #lists.isEmpty(a.listeEncheres)}">
								<span class="label">Date limite :</span>
								<span th:text="${a.dateFinEncheres}">
							</div>
							<div class="bid-date"
								th:unless="${a.listeEncheres!=null and not #lists.isEmpty(a.listeEncheres)}">
								<span class="label">Début de l'Enchère :</span>
								<span th:text="${a.dateFinEncheres}">
							</div>
							<div class="card-image" th:unless="${a.listeEncheres!=null and not #lists.isEmpty(a.listeEncheres)}">
							<span class ="label">Image</span>
    <img th:src="@{'/images/' + ${a.cheminImage}}" alt="Image de l'article">
</div>
						</div>
					</div>
				</a>

				<a th:href="@{/profil-detail(noUtilisateur=${a.createur.noUtilisateur})}">
					<button class="vendeur">
						<div class="seller-info">
							<span class="label-s">Vendeur :</span>
							<span th:text="${a.createur.pseudo}"></span>
						</div>
					</button>
				</a>
			</div>
		</div>
	</div>
</div>
<footer th:replace="~{fragments/fragment-piedpage::piedpage}"></footer>

</body>

</html>