<!DOCTYPE html>
<html lang="fr">
<!-->ICI EXEMPLE VIEW, REMPLACEE PAR ACCUEIL</!-->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Liste des Enchères</title>
	<link rel="stylesheet" href="./css/style.css">
</head>

<body>
	<div th:replace="~{fragments/fragment-entete::entete}"></div>
	<h1>Liste des Enchères en Cours</h1>
	<form th:action="@{/encheresEnCours}" method="post" th:each="e : ${encheres}">
		<ul>
			<li>
				<textarea id="" cols="10" rows="1" th:text="${e.article.nomArticle}"></textarea>
			</li>
			<li>

				<textarea id="" cols="10" rows="1" th:text="${e.montantEnchere}"></textarea>
			</li>
			<li>

				<textarea id="" cols="10" rows="1" th:text="${e.dateEnchere}"></textarea>
			</li>
			<li>

				<textarea id="" cols="10" rows="1" th:text="${e.createur.pseudo}"></textarea>
			</li>
		</ul>
		<ul>
			<li>

				
			</li>
			<li>

				<label for="filtreArticle">Nom de l'Article :</label>
				<input name="nomArticle" id="filtreArticle" type="text">
				</input>
			</li>

		</ul>
		<div>
			<button type="submit">Filtrer les annonces</button>
		</div>
	</form>
</body>

</html>