<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Détails de l'enchère</title>
	<link rel="stylesheet" href="./css/style.css">
</head>

<body>
	<div class="page-container">
		<div th:replace="~{fragments/fragment-entete::entete}"></div>

		<main class="main-content">
			<div class="header-section">
				<h1>Détails de la vente</h1>
			</div>

			<form th:action="@{/encheresDetails}" th:object="${articleVendu}" method="post"
				class="filter-form auction-details-form">
				<div class="filter-section">
					<div class="filter-options auction-details-grid">

						<div class="filter-group details-section">
							<div class="price-info details-box">
								<label for="idArticle" class="info-label">Article :</label>
								<div th:if="${!utilisateurIsAuthentificate} OR (${utilisateurIsAuthentificate} AND ${dateEnchereDebutDepasse})"
									id="idArticle" th:text="${articleVendu.nomArticle}" class="value price-value">
								</div>

								<input id="idArticle" th:field="*{nomArticle}" class="form-control details-input"
									th:if="${utilisateurIsAuthentificate} AND ${!dateEnchereDebutDepasse}"></input>
							</div>

							<div class="price-info details-box">
								<label for="description" class="info-label">Description :</label>
								<div id="description" th:text="${articleVendu.description}" class="value price-value"
									th:if="${!utilisateurIsAuthentificate} OR (${utilisateurIsAuthentificate} AND ${dateEnchereDebutDepasse})">
								</div>
								<textarea th:field="*{description}" id="description"
									class="form-control details-input description-area"
									th:if="${utilisateurIsAuthentificate} AND ${!dateEnchereDebutDepasse}"></textarea>
							</div>

							<div class="price-info details-box">
								<label for="miseAPrix" class="info-label">Mise à prix :</label>
								<div th:if="${!utilisateurIsAuthentificate} OR (${utilisateurIsAuthentificate} AND ${dateEnchereDebutDepasse})"
									class="value price-value" th:text="${articleVendu.miseAPrix}"></div>
								<input th:if="${utilisateurIsAuthentificate} AND ${!dateEnchereDebutDepasse}"
									id="miseAPrix" th:field="*{miseAPrix}"
									class="form-control details-input price-input"></input>
							</div>


							<div class="date-info details-box">
								<label for="dateDebutEncheres" class="info-label">Début de l'enchère :</label>
								<div th:if="${!utilisateurIsAuthentificate} OR (${utilisateurIsAuthentificate} AND ${dateEnchereDebutDepasse})"
									class="value date-value" th:text="${articleVendu.dateDebutEncheres}"></div>
								<input th:if="${utilisateurIsAuthentificate} AND ${!dateEnchereDebutDepasse}"
									id="dateDebutEncheres" th:field="*{dateDebutEncheres}"
									class="form-control details-input date-input"></input>
							</div>
							<div class="date-info details-box">
								<label for="dateFinEncheres" class="info-label">Fin de l'enchère :</label>
								<div th:if="${!utilisateurIsAuthentificate} OR (${utilisateurIsAuthentificate} AND ${dateEnchereDebutDepasse})"
									class="value date-value" th:text="${articleVendu.dateFinEncheres}"></div>
								<input th:if="${utilisateurIsAuthentificate} AND ${!dateEnchereDebutDepasse}"
									id="dateFinEncheres" th:field="*{dateFinEncheres}"
									class="form-control details-input date-input"></input>
							</div>
						</div>

						<div class="filter-group details-section">
							<div class="price-info details-box">
								<label for="categorieArticle" class="info-label">Catégorie :</label>
								<div id="categorieArticle" th:text="${articleVendu.categorieArticle.libelle}"
									class="value price-value"
									th:if="${!utilisateurIsAuthentificate} OR (${utilisateurIsAuthentificate} AND ${dateEnchereDebutDepasse})">
								</div>
								<select th:field="*{categorieArticle.noCategorie}"
									class="form-control details-input price-input"
									th:if="${utilisateurIsAuthentificate} AND ${!dateEnchereDebutDepasse}">
									<option th:each="c : ${listCategorie}" th:value="${c.noCategorie}"
										th:text="${c.libelle}"></option>
								</select>
							</div>


							<div class="price-info details-box">
								<label for="montantEnchere" class="info-label">Meilleure offre :</label>
								<div class="value best-offer">
									<span
										th:if="${articleVendu.listeEncheres!=null and not #lists.isEmpty(articleVendu.listeEncheres)}"
										th:text="${articleVendu.listeEncheres[0].montantEnchere}+' points par '+${articleVendu.listeEncheres[0].createur.pseudo}"
										class="offer-amount">
									</span> <span
										th:unless="${articleVendu.listeEncheres!=null and not #lists.isEmpty(articleVendu.listeEncheres)}"
										class="no-offer">
										Vous êtes la première personne à Enchérir </span>
								</div>
							</div>
							<div th:if="${!utilisateurIsAuthentificate} OR (${utilisateurIsAuthentificate} AND ${dateEnchereDebutDepasse})"
								class="seller-info details-box">
								<label for="lieuRetrait" class="info-label">Retrait :</label>
								<span class="value location-value"
									th:text="${articleVendu.lieuRetrait.rue} +' '+ ${articleVendu.lieuRetrait.codePostal} +' ' +${articleVendu.lieuRetrait.ville}"></span>
							</div>

							<fieldset th:if="${utilisateurIsAuthentificate} AND ${!dateEnchereDebutDepasse}"
								class="filter-section pickup-details">
								<legend>Retrait</legend>
								<div class="filter-options pickup-grid">
									<div class="filter-group input-wrapper">
										<label for="rue" class="form-label">Rue :</label>
										<input id="rue" type="text" th:field="*{lieuRetrait.rue}"
											class="form-control details-input">
									</div>
									<div class="filter-group input-wrapper">
										<label for="codePostal" class="form-label">Code postal :</label>
										<input id="codePostal" type="text" th:field="*{lieuRetrait.codePostal}"
											class="form-control details-input">
									</div>
									<div class="filter-group input-wrapper">
										<label for="ville" class="form-label">Ville :</label>
										<input id="ville" type="text" th:field="*{lieuRetrait.ville}"
											class="form-control details-input">
									</div>
								</div>
							</fieldset>

							<div class="seller-info details-box">
								<label for="Createur" class="info-label">Créateur :</label>
								<span class="value seller-value" th:text="${articleVendu.createur.pseudo}"></span>
							</div>
						</div>
						<div class="card-image auction-image">
							<img th:src="@{'/images/' + ${articleVendu.cheminImage}}" alt="Image de l'article"
								class="detail-image">
							<input hidden type="text" th:field="*{cheminImage}" />
						</div>
					</div>

					<input type="hidden" th:field="*{noArticle}" />
					<div th:if="${!utilisateurIsAuthentificate}" sec:authorize="isAuthenticated()"
						class="filter-section bid-section">
						<h2 class="bid-title">Montez les Enchères !</h2>
						<div class="search-section bid-input-section">
							<div class="search-group">
								<input id="idProposition" name="proposition" placeholder="Faites vos jeux"
									th:value="${proposition}" class="form-control bid-input">
							</div>
						</div>
					</div>

					<div class="card-actions action-buttons">
						<button th:if="${utilisateurIsAuthentificate} AND ${!dateEnchereDebutDepasse}"
							sec:authorize="isAuthenticated()" type="submit" class="view-details delete-button"
							name="suppresion" value="true">Annuler la vente</button>
					</div>
					<div class="card-actions action-buttons">
						<button th:if="${utilisateurIsAuthentificate} AND ${!dateEnchereDebutDepasse}"
							sec:authorize="isAuthenticated()" type="submit" class="view-details modify-button">Modifier
							les informations</button>
						<button th:if="${!utilisateurIsAuthentificate}" sec:authorize="isAuthenticated()" type="submit"
							class="view-details bid-button">Surenchérir</button>
					</div>
				</div>
			</form>
		</main>

		<div th:replace="~{fragments/fragment-piedpage::piedpage}"></div>
	</div>
</body>

</html>