<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Profile</title>
<link rel="stylesheet" href="./CSS/style.css">
</head>
<body>
	<header>
		<div th:replace="~{fragments/fragment-entete::entete}"></div>
	</header>

	<h1>PAT_Enchères</h1>



	<form th:action="@{/profile}" th:object="${utilisateur}" method="post">

		<h2>Mon profil</h2>

		<div>
			<ul>
				<li><label for="idPseudo">Pseudo</label> <input id ="pseudo" th:field="*{pseudo}"
					type="text"  /></li>
				<li><label for="idPrenom">Prénom</label> <input id="idPrenom"
					type="text" th:field="*{prenom}" /></li>
				<li><label for="idTelephone">Téléphone</label> <input
					id="idTelephone" type="text" th:field="*{telephone}"/></li>
				<li><label for="idCodePostal">Code Postal</label> <input
					id="idCodePostal" type="text" th:field="*{codePostal}" /></li>
				<li><label for="idMotDePasse">Mot de passe</label><input
					id="idMotDePasse" type="text" th:field="*{motDePasse}" /></li>
			</ul>
		</div>
		<div>
			<ul>
				<li><label for="idNom">Nom</label> <input id="idNom"
					type="text" th:field="*{nom}" /></li>
				<li><label for="idEmail">Email</label> <input id="idEmail"
					type="text" th:field="*{email}"/></li>
				<li><label for="idRue">Rue</label> <input id="idRue"
					type="text" th:field="*{rue}" /></li>
				<li><label for="idVille">Ville</label> <input id="idVille"
					type="text" th:field="*{ville}" /></li>
				<li><label for="idConfirmation">Confirmation</label> <input
					id="idConfirmation" type="text" /></li>
			</ul>
		</div>
		<div><button type="submit">Créer</button></div><div><button type="submit">Annuler</button></div>

	</form>


	<div th:replace="~{fragments/fragment-piedpage::piedpage}"></div>
</body>

</html>