<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire de Vente</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
<div th:replace="~{fragments/fragment-entete::entete}"></div>
    <h1>Formulaire de mise en vente</h1>
    <form th:action="@{/nouvelleVente}" method="post" enctype="multipart/form-data" th:object="${article}">
       
        <div class="form-group">
            <label for="article">Article :</label>
            <input type="text" id="article" th:field="*{nomArticle}" placeholder="Nom de l'article" required>
        </div>
        
        <div class="form-group">
            <label for="description">Description :</label>
            <textarea id="description" th:field="*{description}" placeholder="Décrivez votre article"></textarea>
        </div>
        
        <div class="form-group">
            <label for="categorie">Catégorie :</label>
            <select id="categorie" th:field="*{categorie.libelle}">
                <option value="">-- Choisissez une catégorie --</option>
                <option value="electronique">Électronique</option>
                <option value="vetement">Vêtements</option>
                <option value="loisir">Loisir</option>
            </select>
        </div>
        
      
        <div class="form-group photo-upload">
            <label for="photo">Photo de l'article :</label>
            <input id="photo" type="file" id="photo" name="photo" accept="image/*" >
        </div>
        
        <div class="form-group-half">
            <label for="miseAPrix">Mise à prix :</label>
            <input id="miseAPrix" type="number" th:field="*{miseAPrix}" placeholder="150" min="0" required>
        </div>
        
 
        <div class="form-group-half calendar-icon">
            <label for="debutEnchere">Début de l'enchère :</label>
            <input id="debutEnchere" type="date" th:field="*{dateDebutEnchere}" required>
        </div>
        
        <div class="form-group-half calendar-icon">
            <label for="finEnchere">Fin de l'enchère :</label>
            <input id="finEnchere" type="date" th:field="*{dateFinEnchere}" required>
        </div>
        
     
        <fieldset class="form-group">
            <legend>Retrait</legend>
            <div class="form-group-half">
                <label for="rue">Rue :</label>
                <input id="rue" type="text" th:field="*{retrait.rue}" placeholder="Rue des mouettes" required>
            </div>
            <div class="form-group-half">
                <label for="codePostal">Code postal :</label>
                <input id="codePostal" type="text" th:field="*{retrait.code_postal}" placeholder="44800" required>
            </div>
            <div class="form-group-half">
                <label for="ville">Ville :</label>
                <input id="ville" type="text" th:field="*{retrait.ville}" placeholder="Saint Herblain" required>
            </div>
        </fieldset>
 
        <div class="buttons">
            <button type="submit">Enregistrer</button>
            <button type="reset">Annuler</button>
        </div>
    </form>
</body>
</html>
