<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Profile</title>
<link rel="stylesheet" href="./css/style.css">
</head>
<body>
	<header>
		<div th:replace="~{fragments/fragment-entete::entete}"></div>
	</header>
	<h1>PATé_enchères</h1>

	<form th:action="@{/profile}" method="post">

		<h2>Mon profil</h2>

		<div>
			<ul>

				<li><label for="idPseudo">Pseudo</label>
				<textarea  rows="1" cols="1"></textarea></li>
				<li><label for="idPrenom">Prénom</label>
				<textarea rows="1" cols="1"></textarea></li>
				<li><label for="idTelephone">Téléphone</label>
				<textarea rows="1" cols="1"></textarea></li>
				<li><label for="idCodePostal">Code Postal</label>
				<textarea rows="1" cols="1"></textarea></li>
				
				<li>>
						<label for="idMotDePasse">Mot de passe</label><input
							id="idMotDePasse" type="text" name="" />
					</li>
			</ul>
		</div>
		<div>
			<ul>
				<li><label for="idNom">Nom</label> <input id="idNom"
					type="text" name="" /></li>
				<li><label for="idEmail">Email</label> <input id="idEmail"
					type="text" name="" /></li>
				<li><label for="idRue">Rue</label> <input id="idRue"
					type="text" name="" /></li>
				<li><label for="idVille">Ville</label> <input id="idVille"
					type="text" name="" /></li>
				<li></li>
				<li><label for="idConfirmation">Confirmation</label> <input
					id="idConfirmation" type="text" /></li>
			</ul>
		</div>
		<div>
			<button type="submit">Enregistrer</button>
		</div>
		<div>
			<button type="submit">Supprimer mon compte</button>
		</div>


	</form>


	<div th:replace="~{fragments/fragment-piedpage::piedpage}"></div>
</body>

</html>