<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Utilisateur</title>
<link rel="stylesheet" href="./css/style.css">
</head>
<body>
	<header>
		<div th:replace="~{fragments/fragment-entete::entete}"></div>
	</header>
	<form th:action="@{/profil-detail}" method="post" th:object="${utilisateur}">
<div class="form-container">
<ul>
	<li class = "li-form"><label for="idPseudo">Pseudo : </label><input type="text" th:field="${utilisateur.pseudo}" readonly="readonly"/></li>
	<li class = "li-form"><label for="idPseudo">Nom : </label><input type="text" th:field="${utilisateur.nom}" readonly="readonly"/></li>
		<li class = "li-form"><label for="idPseudo">Prénom : </label><input type="text" th:field="${utilisateur.prenom}" readonly="readonly"/></li>
	<li class = "li-form"><label for="idPseudo">Email : </label><input type="text" th:field="${utilisateur.email}" readonly="readonly"/></li>
	<li class = "li-form"><label for="idPseudo">Téléphone : </label><input type="text" th:field="${utilisateur.telephone}" readonly="readonly"/></li>
	<li class = "li-form"><label for="idPseudo">Rue : </label><input type="text" th:field="${utilisateur.rue}" readonly="readonly"/></li>
	<li class = "li-form"><label for="idPseudo">Code Postal : </label><input type="text" th:field="${utilisateur.codePostal}" readonly="readonly"/></li>
	<li class = "li-form"><label for="idPseudo">Ville : </label><input type="text" th:field="${utilisateur.ville}" readonly="readonly"/></li>	

</ul>
</div>
</form>


	<div th:replace="~{fragments/fragment-piedpage::piedpage}"></div>
</body>
</html>