<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Utilisateur</title>
<link rel="stylesheet" href="./css/style.css">
</head>
<body>
	<header>
		<div th:replace="~{fragments/fragment-entete::entete}"></div>
	</header>
	<form th:action="@{/profil-detail}" method="post" th:object="${utilisateur}">

<ul>
	<li><label for="idPseudo">Pseudo : </label><textarea id="" cols="10" rows="1" th:text="${utilisateur.pseudo}"></textarea></li>
	<li><label for="idNom">Nom : </label><textarea id="" cols="10" rows="1" th:text="${utilisateur.nom}"></textarea></li>
	<li><label for="idPrenom">Prénom : </label><textarea id="" cols="10" rows="1" th:text="${utilisateur.prenom}"></textarea></li>
	<li><label for="idEmail">Email : </label><textarea id="" cols="10" rows="1" th:text="${utilisateur.email}"></textarea></li>
	<li><label for="idTelephone">Téléphone : </label><textarea id="" cols="10" rows="1" th:text="${utilisateur.telephone}"></textarea></li>
	<li><label for="idRue">Rue : </label><textarea id="" cols="10" rows="1" th:text="${utilisateur.rue}"></textarea></li>
	<li><label for="idCodePostal">Code Postal : </label><textarea id="" cols="10" rows="1" th:text="${utilisateur.codePostal}"></textarea></li>
	<li><label for="idVille">Ville : </label><textarea id="" cols="10" rows="1" th:text="${utilisateur.ville}"></textarea>></li>
</ul>
		<div>
			<button type="submit">Modifier</button>
		</div>
</form>


	
	
	
	
	
	
	
	<div th:replace="~{fragments/fragment-piedpage::piedpage}"></div>
</body>
</html>