<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Récupération du mot de passe</title>
<link rel="stylesheet" href="./css/style.css" />
</head>
<body>
	<header>
		<div th:replace="~{fragments/fragment-entete::entete}"></div>
	</header>
<h1>Récupération de mot de passe</h1>
<form th:action="@{/recuperationMotDePasse/recupMotDePasse}" method="post">
    <label for="email">Email</label>
    <input id="email" name="email" type="email" required />
    <button type="submit">Récupération</button>
    <div th:if="${globalError != null}" class="error">
        <p th:text="${globalError}"></p>
    </div>
</form>

</body>
</html>